<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">Products</h1>
                    <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of
                        god day multiply you’ll which</p>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product Single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <b>Product Details</b>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Produc ID</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product Description</th>
                    </tr>
                    <tr>
                        <td>{{prod.id}}</td>
                        <td>{{prod.productName}}</td>
                        <td>{{prod.productPrice}}</td>
                        <td>{{prod.productDescription}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>