<body>
    <!-- top navbar -->
    <section class="navBarMainImg">
        <nav class="navbar navbar-expand-lg navbar-light my-nav ">
            <a class="navbar-brand" href="#">Kitchen Story</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/index">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- hero section -->
        <div class="hero">
            <h1> Welcome to <span>Kitchen Story.</span></h1>
            <p>Eat what you love, love what you eat.</p><br><br>
            <div class="btnContainer">
                <a class="btn" routerLink="/index">OUR PRODUCTS</a>
            </div>
        </div>
    </section>

    <!--banner section  -->
    <section class="banner">
        <h3>Fresh Products. Clean environments. <br>
            Engagingly delivered.</h3>

        <div class="bannerInner">

            <div class="bannerChild">
                <p>Kitchen Story welcomes you with the easy-going elegance and warm hospitality that makes you feel
                    you’re at
                    home with friends.</p> <br>

                <p>Good food,Good atmosphere, and Good staff members</p> <br>

                <p>We serve uncomplicated comfort food bursting with flair and imagination. Only the very best,
                    impeccably fresh ingredients will do, grown, raised and farmed by our handpicked suppliers and
                    artisans.
                    Every dish or drink that arrives at your table is made with love and always delivered with a smile.
                </p>
            </div>
            <div class="bannerImg">
                <img src="/assets/images/about (1).jpg" alt="">
            </div>
        </div>
    </section>
    <!-- our menu -->

    <div class="menu">
        <p class="mainPara">WHY US__________?</p>
        <h2 class="mainHeading">Most prep ordered products</h2>
        <div class="options">
            <ul>
                <li style="color: #e3b15b;">All</li>
                <li>Starter</li>
                <li>Salads</li>
                <li>Specialty</li>
            </ul>
        </div>
        <div class="ourTastyMenu">
            <div class="tastyMenu">
                <img src="/assets/images/cake.jpg" alt="">
                <a href="#">Carrot cake</a> <span>R56,00</span>
                <div>
                    <p>Slice of cake</p>
                </div>
            </div>

            <div class="tastyMenu">
                <img src="/assets/images/bread.jpg" alt="">
                <a href="#">Bread Barrel</a> <span>R30,00</span>
                <div>
                    <p>Slice of bread</p>
                </div>
            </div>

            <div class="tastyMenu">
                <img src="/assets/images/cake.jpg" alt="">
                <a href="#">chocolate Cake</a> <span>R75.95</span>
                <div>
                    <p>Piece of chocolate cake</p>
                </div>
            </div>
        </div>
        <div class="ourTastyMenu">

            <div class="tastyMenu">
                <img src="/assets/images/caesar.jpg" alt="">
                <a href="#">Ceaser Selections</a> <span>R105.95</span>
                <div>
                    <p>Ceaser</p>
                </div>
            </div>

            <div class="tastyMenu">
                <img src="/assets/images/tuscan.jpg" alt="">
                <a href="#">Tuscan Grilled</a> <span>R95.95</span>
                <div>
                    <p>Tuscan Grilled</p>
                </div>
            </div>

            <div class="tastyMenu">
                <img src="/assets/images/mozzarella.jpg" alt="" width="10">
                <a href="#">Mozzarella Stick</a> <span>R99.95</span>
                <div>
                    <p>Cheesy</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer start -->

    <div class="our-footer">
        <div class="footer footer1">
            <h1 style="color: #e3b15b;">Kitchen Story</h1>
            <h5>30 8th Avenue<br>
                Essenwood 40001, Durban</h5>
            <h6>Phone: +27 71 828 5015</h6>
            <h6>Email: kkk2023@gmail.com</h6>
            <div class="icon">

                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
            </div>
        </div>
        <div class="footer footer2">

            <h4>Useful Links</h4>
            <ul>
                <li><i class="fas fa-chevron-right lo"></i> Home</li>
                <li><i class="fas fa-chevron-right lo"></i>About us</li>
                <li><i class="fas fa-chevron-right lo"></i> Services</li>
                <li><i class="fas fa-chevron-right lo"></i> Terms of service</li>
                <li><i class="fas fa-chevron-right lo"></i> Privacy policy</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 last">
                <p>© Copyright
                    Kwazikonke Mbatha</p>
                <p>All Rights Reserved</p>
            </div>
        </div>
    </div>
    <!-- footer end -->
    <!-- script -->
    <script>
        const heroSection = document.querySelector(".topNavbar")

        const footerElem = document.querySelector(".our-footer")

        const scrollElement = document.createElement("div")
        scrollElement.classList.add("gototop")

        scrollElement.innerHTML = `<i class="fas fa-arrow-up" class="scroll-top"></i>`

        footerElem.after(scrollElement)

        const scrollToTop = () => {
            heroSection.scrollIntoView({ behavior: "smooth" })
        }

        scrollElement.addEventListener("click", scrollToTop)
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>